:root {
    /* Colors */
    --dd-purple: #602672;
    --dd-black: #2b2b2b;
    --dd-darkblue: #003c55;
    --dd-lightblue: #b6eae8;
    --dd-white: #fff;
    --dd-orange: #e74e00;
    --dd-yellow: #FFA700;
    --dd-lightgray: #f5f5f5;
}